body {
  	font-family: "Muli" !important;
  	font-weight: 300;
}

h1,
h2,
h3 {
  	font-family: "Muli" !important;
  	font-weight: 200 !important;
}

.product-card {
  	width: 48%;
 	border: 1px solid rgba(0,0,0,.2);
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,.2);
}
.product-card-image {
 	object-fit: cover;
  	width: 300px;
  	height: 216px;
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
  .product-card {
    width: 22%;
  }
  .product-card-image {
    object-fit: cover;
    width: 300px;
    height: 216px;
  }
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
